/*----------------- Fonts ---------------- */
@font-face {
  font-weight: normal;
  font-family: "LightAlternate";
  font-style: normal;

  src: url("../fonts/LightAlternateRegular.otf");
}

@font-face {
  font-weight: normal;
  font-family: "DINCyr";
  font-style: normal;

  src: url("../fonts/DINCyr-Regular/dincyr-regular.eot") format("eot"),
  url("../fonts/DINCyr-Regular/DINCyr-Regular.otf") format("otf"),
  url("../fonts/DINCyr-Regular/dincyr-regular.ttf") format("ttf"),
  url("../fonts/DINCyr-Regular/dincyr-regular.woff") format("woff");
}

/* ---------  Global --------- */
html {
	height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 11px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #363636;

  background-image: url("../img/bg-body.jpg");
}

a {
  text-decoration: none;
  color: #707070;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

h2 {
  margin: 0;
  margin-bottom: 15px;

  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: "DINCyr", Arial, sans-serif;
  color: #707070;
  text-transform: uppercase;
  font-style: normal;
}

.container {
  
  width: 1000px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 12px;
  padding-top: 45px;
}


/* ------ header -------- */
.page-header {
  display: flex;
  margin-bottom: 95px;
}

.phone-number {
  width: 150px;
  margin-left: auto;

  font-size: 30px;
  font-family: "LightAlternate", "Times New Roman",  serif;
  
}

.phone-number .code {
  display: block;

  font-size: 18px;
}


/* ------------ main ------------- */

.page-main {
  display: flex;
  min-height: 100%;
  
  padding-bottom: 185px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation {
    min-width: 180px;
}

.menu-item {
  font-size: 40px;
  line-height: 40px;
  font-family: "DINCyr", Arial, sans-serif;
  text-transform: uppercase;
}

.menu-item a {
  color: #363636;
  
}
.menu-item a:hover {
  color: #ffffff;

  background-color: #707070;
}

.content {
  width: 750px;

}
.content .team {
  margin-bottom: 45px;
}
.content .team p {
  margin: 0;
  margin-bottom: 15px;
}


.team-groups {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  
}

.team-group {
  width: 250px;
}
.team-list {
  width: 100%;
}

.list-item {
  display: flex;
  
  margin-bottom: 20px;
}
.list-item:last-child {
  margin-bottom: 0;
}

.team-photo {
  
  position: relative;
  width: 78px;
  height: 78px;
  overflow: hidden;
  background-color: #363636;
  /* display: flex;   на IE 11 работает, но не срабатывает когда картинка больше контейнера  */
  /* justify-content: center; */
  
}

.team-photo img {
  position: absolute;
  
  width: auto;
  height: 100%;
  left: -100%;
  right: -100%;
  margin: auto;
}

.team-name {
  width: 150px;
  margin-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}



.services p {
  margin: 0;
  margin-bottom: 15px;
}

.services p:last-child {
  margin-bottom: 0;
}
/* ------------------  Footer --------------------- */
.page-footer {
  display: flex;
  width: 1000px;
  margin: -130px auto 0;
  padding: 30px 12px 0 12px;
  border-top: 1px solid #b3a7a7;

}

.copyright {
  width: 90px;
  margin-right: 20px;

  line-height: 15px;
  color: #707070;
}

.page-footer > a {
  text-decoration: underline;
}