/*----------------- Fonts ---------------- */
@font-face {
  font-weight: normal;
  font-family: "LightAlternate";
  font-style: normal;

  src: url("../fonts/LightAlternateRegular.otf");
}

@font-face {
  font-weight: normal;
  font-family: "DINCyr";
  font-style: normal;

  src: url("../fonts/DINCyr-Regular/dincyr-regular.eot") format("eot"),
  url("../fonts/DINCyr-Regular/DINCyr-Regular.otf") format("otf"),
  url("../fonts/DINCyr-Regular/dincyr-regular.ttf") format("ttf"),
  url("../fonts/DINCyr-Regular/dincyr-regular.woff") format("woff");
}

/* ---------  Global --------- */
body {
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 11px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #363636;

  background-image: url("../img/bg-body.jpg");
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 15px;

  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  font-family: "DINCyr", Arial, sans-serif;
  color: #707070;
  text-transform: uppercase;
  font-style: normal;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}


/* ------ header -------- */
.page-header {
  display: flex;
  margin-top: 45px;
}

.phone-number {
  width: 150px;
  margin-left: auto;

  font-size: 30px;
  font-family: "LightAlternate", "Times New Roman",  serif;
  color: #707070;
}

.phone-number .code {
  display: block;

  font-size: 18px;
}


/* ------------ main ------------- */

.page-main {
  display: flex;
  margin-top: 95px;
  padding-bottom: 55px;
  flex-wrap: wrap;

  border-bottom: 1px solid #707070b2;
}

.main-navigation {
  width: 180px;
}

.menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item {
  font-size: 40px;
  line-height: 40px;
  font-family: "DINCyr", Arial, sans-serif;
  text-transform: uppercase;
}

.menu-item a {
  color: #363636;
}
.menu-item a:hover {
  color: #ffffff;

  background-color: #707070;
}

.content {
  width: 750px;
  margin-left: auto;
}

.team p {
  margin: 0;
  margin-bottom: 15px;
}


.team-groups {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.team-group {
  width: 33%;
}
.team-list {
  
  width: 100%;
}
.list-item {
  display: flex;
  
  margin-bottom: 20px;
}
.list-item:last-child {
  margin-bottom: 0;
}

.team-photo {
  width: 78px;
  height: 78px;
  overflow: hidden;
}

.team-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.team-name {
  margin-left: 10px;
  padding-right: 10px;
}

.services {
  margin-top: 45px;
}

.services h2 {
  margin-bottom: 20px;
}

.services p {
  margin: 0;
  margin-bottom: 15px;
}

.services p:last-child {
  margin-bottom: 0;
}
/* ------------------  Footer --------------------- */
.page-footer {
  display: flex;
  margin-top: 40px;
  margin-bottom: 35px;
}

.copyright {
  width: 90px;
  margin-right: 20px;

  line-height: 15px;
  color: #707070;
}

.page-footer a {
  color: #707070;
  text-decoration: underline;
}
